.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  position: relative;
}

.cart__title {
  padding: var(--space-xl) 0;
  font-size: var(--text-size-lg);
  font-weight: var(--font-weight-light);
  text-transform: uppercase;
}

.cart__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'total total'
    'back pay';
  gap: var(--space-md);
  align-items: stretch;
}

.cart__footer__total {
  grid-area: total;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: var(--text-size-sm);
  font-weight: var(--font-weight-regular);
}

.cart__footer__button__back {
  grid-area: back;
  width: 100%;
}

.cart__footer__button__pay {
  grid-area: pay;
  width: 100%;
  flex-shrink: 0;
}

@media (min-width: 769px) {
  .cart__footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'back back total pay';
    gap: var(--space-xl);
    align-items: center;
    position: relative;
  }

  .cart__footer__total {
    gap: var(--space-md);
  }

  .cart__footer__button__back {
    justify-self: start;
    width: 100%;
    max-width: 200px;
  }

  .cart__footer__button__pay {
    justify-self: end;
    flex-shrink: 0;
    min-width: 260px;
  }
}
