.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-sm);

  background-color: transparent;
  color: var(--text-color);

  border: none;
  cursor: pointer;
}

.counter {
  font-size: var(--text-size-md);
  text-transform: uppercase;
  font-weight: var(--font-weight-light);
}
