:root {
  --bg-color: #ffffff;

  --text-color: #000000;
  --text-light-color: #79736d;
  --text-muted-color: #666666;

  --text-size-sm: 12px;
  --text-size-md: 16px;

  --border-color: #000000;

  --space-xs: 4px;
  --space-sm: 6px;
  --space-md: 12px;

  --page-padding-x: 40px;
  --page-padding-y: 24px;
  --page-padding: var(--page-padding-y) var(--page-padding-x);

  --font-family: Helvetica Neue, Arial, sans-serif;
  --font-weight-light: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--text-size-md);
  font-weight: var(--font-weight-light);
  margin: 0;
  overflow: hidden;
}

main {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  padding-bottom: var(--page-padding-y);
  padding-top: 48px;
}

body,
main {
  display: flex;
  flex-direction: column;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

@media (max-width: 768px) {
  :root {
    --page-padding-x: 16px;
  }
}
