:root {
  --bg-color: #ffffff;

  --text-color: #000000;
  --text-light-color: #79736d;
  --text-muted-color: #666666;

  --text-size-xs: 12px;
  --text-size-sm: 14px;
  --text-size-md: 16px;
  --text-size-lg: 20px;
  --text-size-xl: 24px;

  --border-color: #000000;
  --border-color-light: #cccccc;

  --space-4: 4px;
  --space-6: 6px;
  --space-12: 12px;
  --space-24: 24px;
  --space-40: 40px;

  --page-padding-x: var(--space-40);
  --page-padding-y: var(--space-24);
  --page-padding: var(--page-padding-y) var(--page-padding-x);

  --font-family: Helvetica Neue, Arial, sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
}
