:root {
  --bg-color: #ffffff;

  --text-color: #000000;
  --text-light-color: #79736d;
  --text-muted-color: #666666;

  --text-size-xs: 12px;
  --text-size-sm: 14px;
  --text-size-md: 16px;
  --text-size-lg: 20px;
  --text-size-xl: 24px;

  --border-color: #000000;
  --border-color-light: #cccccc;

  --space-xs: 4px;
  --space-sm: 6px;
  --space-md: 12px;
  --space-lg: 24px;
  --space-xl: 40px;

  --page-padding-x: 40px;
  --page-padding-y: 24px;
  --page-padding: var(--page-padding-y) var(--page-padding-x);

  --font-family: Helvetica Neue, Arial, sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
}
