.list {
  gap: 0;
}

.list--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(344px, 1fr));
  grid-auto-rows: 344px;
}

.list--carousel {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
