.search {
  gap: var(--space-sm);
  padding: 12px var(--page-padding-x);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.search__results {
  text-transform: uppercase;
  font-size: var(--text-size-xs);
  color: var(--text-color);
}
