.card {
  list-style: none;
  border: 0.5px solid var(--border-color);
  height: 444px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md);

  margin-right: -1px;
  margin-bottom: -1px;
}

.card__image_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__image {
  flex: 1;
  object-fit: contain;
  width: 312px;
  max-height: 257px;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  width: 100%;
}

.card__info__brand {
  font-size: var(--text-size-sm);
  color: var(--text-light-color);
}

.card__info__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card__info__details__name {
  font-size: var(--text-size-md);
}

.card__info__details__price {
  font-size: var(--text-size-md);
}
