.storage {
  width: 100%;
}

.storage__option {
  flex: 1;
  padding: var(--space-lg);
  font-size: var(--text-size-sm);
  font-weight: var(--font-weight-light);
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  max-width: 100px;
  text-transform: uppercase;
}
